.super-mario {
    width: 200px;
    position: absolute;
    left: 10px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 380px;
    left: 120px;

  }
  
  .baloon {
    position: absolute;
    left: 200px;

  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 4;
    top: 120px;
    left: 220px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 500px;
    top: 230px;
  }