h1, p{
    text-align: center;
}

li:hover{
    background-color: crimson;
}

li:active{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: peachpuff;
}

ul, ol{
    list-style: none;
}