ol li {
    background-color: yellow;
}

ol li:nth-child(even) {
    color: green;
}

ol li:nth-child(odd) {
    text-transform: uppercase;
}

h1,
h2 {
    color: red
}

h1 em,
h2 em {
    font-size: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;
}

li em {
    font-weight: 700;
}

/* REF: https://developer.mozilla.org/pt-BR/docs/Web/CSS/:nth-child */
#linguagens li:not(:nth-child(n + 4)) {
    color: blue;
}

#aliados li a:hover {
    font-weight: 700;
}

/* REF: https://stackoverflow.com/questions/1520429/is-there-a-css-selector-for-elements-containing-certain-text */
#aliados li a[href*="stackoverflow"] {
    color: orange;
  }
  
  #aliados li a[href*="w3schools"] {
    color: green;
  }
  
  #aliados li a[href*="mozilla"] {
    color: black;
  }
  
  #aliados li a[href*="devdocs"] {
    color: yellow;
  }
  
  #aliados li a[href*="trybe"] {
    color: green;
  }