/* 1. Estilize as divs para que, ao passar o cursor por cima das mesmas, elas ganhem uma borda. */
div:hover{
    border: 5px solid red;
}

/* 2. Faça cada div ter uma cor própria. */
/* 4 - Faça a terceira div ser maior que as demais. */
div:nth-of-type(1){
    background-color: rgb(19, 128, 223);    
}
div:nth-of-type(2){
    background-color: rgba(0, 3, 165, 0.507);    
}
div:nth-of-type(3){
    background-color: rgb(180, 19, 153);
    height: 3em;
}
div:nth-of-type(4){
    background-color: rgb(77, 78, 78);    
}
div:nth-of-type(5){
    background-color: rgba(218, 255, 11, 0.753);    
}

/* 3. Estilize cada uma das tags <h3>. */
/* 5 - Deixe as tags ímpares h3 com o texto em itálico. */
div:nth-of-type(1) > h3{
    color: white;
}
div:nth-of-type(2) > h3{
    color: darkgreen;
}
div:nth-of-type(3) > h3{
    color: aliceblue;
}
div:nth-of-type(4) > h3{
    color: turquoise;
}
div:nth-of-type(5) > h3{
    color: darkgoldenrod;
}

.impar{
    font-style: italic;
}