h1{
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}

p{
    font-weight: 600;
    color: #fff;
    font-size: 3em;
    font-style: oblique;    
}

body{
    font-size: 16px;
}

ul{
    background-color: gray;
    max-width: fit-content;
}

.bgcolor{
    background-color: #015025;
    max-width: fit-content;
    text-align: center;
    text-decoration: overline underline wavy;
}

#red{
    color: white;
    background-color: red;
    line-height: 1.5em;
}

#black{
    color: #fff;
    background-color: black;
    line-height: 3em;
}